*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.opt
*.a
*.o
*.so
META
ancient-*.tar.gz
dictionary.data
mmalloc/Makefile
mmalloc/autom4te.cache
mmalloc/config.cache
mmalloc/config.log
mmalloc/config.status
/.depend
/_opam
